@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  background-color: #f2f2f2;
}

input,
textarea {
  font-family: inherit;
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1200px;
  min-height: 100vh;
  background-color: #ffffff;
  /* flex-grow: 1; */
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.page-header {
  background-color: #ffffff;
  color: #000000;
  padding: 0 70px;
}

.page-header__logo {
  margin-right: 28px;
}

.navigation {
  display: flex;
  margin: 0 auto;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation__link {
  font-family: "PT Sans", sans-serif;
  color: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
}

.user__list {
  /* display: flex; */
  margin-left: auto;
}

.hero {
  background-color: #83B3D3;
  background-image: url("../images/svg/divider.svg"),
    url("../images/index-background.jpg");
  background-size: 100% auto, cover;
  background-position: left bottom, left top;
  background-repeat: no-repeat;
  text-align: center;
}

.hero__image {
  vertical-align: middle;
}

.intro__lead {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.intro__description {
  font-size: 22px;
  line-height: 26px;
}

.block__title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
}

.advantages {
  background-color: #ffffff;
  text-align: center;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages__item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages__item:first-child {
  display: flex;
  width: 1200px;
  color: white;
  background-color: #82B3D3;
}

.advantages__item:last-child {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  color: white;
  background-color: #82B3D3;
}

.advantages__item:not(:first-child):not(:last-child) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  color: black;
  box-sizing: border-box;
  padding: 113px 85px;
}

.advantages__text-content {
  box-sizing: border-box;
  padding: 102px 85px;
}

.services {
  background-color: #ffffff;
  text-align: center;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services__item {
  box-sizing: border-box;
  width: 400px;
  padding: 81px 85px;
}

.services__item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.services__item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.search-hotel {
  background-color: #ffffff;
  text-align: center;
}

.subscribe {
  background-color: #81B3D2;
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.index-subscribe {
  color: #ffffff;
}

.page-footer {
  box-sizing: border-box;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 40px 70px 30px 70px;
  justify-content: space-between;
}

.social__list {
  display: flex;
  width: 142px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.phone {
  display: block;
  width: 720px;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.academy-logo {
  display: block;
  width: 115px;
  height: 34px;
  background-image: url("../images/html-academy.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.filter {
  color: #ffffff;
  background-color: #81B3D2;
  background-image: url("../images/filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 35px 70px 70px 70px;
}

.inner-header__title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs__link {
  color: inherit;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.catalog-filter__form {
  display: flex;
}

.catalog-filter__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter__buttons {
  display: flex;
  flex-direction: column;
}
.control {
  font-size: 18px;
  line-height: 21px;
}

.catalog {
  background-color: #ffffff;
  padding: 50px 70px 60px 70px;
}

.catalog__header {
  display: flex;
}

.catalog-view {
  display: flex;
}

.catalog__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotel-card__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotel-card__item {
  width: 340px;
}

.hotel-card__link {
  color: #000000;
  text-decoration: none;
}

.hotel-card__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.subscribe-inner {
  background: 0 #ffffff;
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination__item {
  width: 60px;
  margin-right: 8px;
  text-align: center;
}

.pagination__link {
  display: block;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  line-height: 16px;
  font-weight: 700;
}

.pagination__current {
  color: #000000;
  background-color: #F2F2F2;
}
